.profile__edit-button {
  box-sizing: border-box;
  padding: 0;
  min-width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-image: url("../../../images/Pen.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: 10px 10px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 920px) {
  .profile__edit-button {
    min-width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
