.profile__name {
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  color: #fff;
  max-width: 480px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 920px) {
  .profile__name {
    margin: 0 auto;
    max-width: 240px;
    font-size: 27px;
    line-height: 33px;
  }
}
