.profile__avatar-box {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
}

.profile__avatar-box::before {
  position: absolute;
  z-index: 1;
  content: "";
  background-image: url("../../../images/Pen.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  display: none;
}

.profile__avatar-box:hover::before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.profile__avatar-box:hover > .profile__avatar-image {
  opacity: 0.2;
}
