.fullscreen-image__container {
  box-sizing: border-box;
  row-gap: 15px;
  margin: 0;
  position: relative;
  max-height: 75vh;
  max-width: 75vw;
}

@media screen and (max-width: 920px) {
  .fullscreen-image__container {
    max-width: 240px;
  }
}
