.card__like-button {
  position: relative;
  width: 22px;
  height: 22px;
  background-image: url("../../../images/Disabled-Like.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__like-button::after {
  position: absolute;
  content: attr(data-likes-count);
  font-size: 13px;
  text-align: center;
  display: block;
  top: 100%;
  width: 100%;
  left: calc((22px - 100%) / 2);
}
