.header {
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
  padding: 45px 0 41px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 920px) {
  .header {
    padding: 27px 27px 31px;
  }
}
