.card__like-button {
  width: 22px;
  height: 22px;
  background-image: url("../../../images/Disabled\ Like.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
