.footer {
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
  flex-shrink: 0;
  color: #545454;
  padding: 66px 0 60px;
}

@media screen and (max-width: 920px) {
  .footer {
    padding: 48px 0 36px;
    max-width: 282px;
  }
}
