.card__delete-button {
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url("../../../images/Bin-Icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  border: none;
  top: 20px;
  right: 20px;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
