.popup__close-button {
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: unset;
  background-image: url("../../../images/Close\ Icon.svg");
  border: none;
  width: 48px;
  height: 48px;
  top: -48px;
  left: 100%;
}

@media screen and (max-width: 920px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    left: calc(100% - 20px);
    background-size: contain;
  }
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
