.popup__close-button {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../../../images/Close\ Icon.svg");
  width: 48px;
  height: 48px;
  top: calc(50% - 330px / 2 - 48px);
  left: calc(50% + 430px / 2);
}

@media screen and (max-width: 920px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: calc(50% - 323px / 2 - 36px);
    left: calc(50% + 282px / 2 - 20px);
    background-size: contain;
  }
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
