.profile__name-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 19px;
}

@media screen and (max-width: 920px) {
  .profile__name-container {
    column-gap: 10px;
  }
}
