.form__action-button {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  border: none;
}

@media screen and (max-width: 920px) {
  .form__action-button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.form__action-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
